body {
  margin: 0;
  font-family: "Maven Pro", sans-serif;
  font-weight: 600;
}

a {
  color: black;
}

.wrapper {
  background-color: #fad961;
  background-image: linear-gradient(90deg, #fad961 0%, #f76b1c 100%);
  position: relative;
  width: 728px;
  height: 90px;
  overflow: hidden;
}

.intro {
  font-size: 2.5rem;
  opacity: 1;
  position: absolute;
  top: -1.3rem;
  left: 8rem;
}

.experience {
  font-size: 1.3rem;
  /* opacity: 0; */
  position: absolute;
  top: -0.9rem;
  left: 1.4rem;
  width: 4rem;
}

.fa-react {
  position: absolute;
  top: 0.3rem;
  left: 8rem;
}

.fa-php {
  position: absolute;
  top: 0.3rem;
  left: 14.5rem;
}

.fa-square-js {
  position: absolute;
  top: 0.3rem;
  left: 22.3rem;
}

.fa-wordpress-simple {
  position: absolute;
  top: 0.3rem;
  left: 28rem;
}

.fa-html5 {
  position: absolute;
  top: 0.3rem;
  left: 34.3rem;
}

.fa-css3-alt {
  position: absolute;
  top: 0.3rem;
  left: 39.8rem;
}

.sarah {
  font-family: "Caveat", cursive;
  font-size: 4rem;
  position: absolute;
  top: -3.8rem;
  left: 2rem;
}

.sarah:hover {
  color: #0cacf2;
}

.available {
  opacity: 0;
  position: absolute;
  top: -0.3rem;
  left: 30rem;
}

.act {
  opacity: 0;
  position: absolute;
  top: 1.2rem;
  left: 30rem;
}

.lto {
  opacity: 0;
  position: absolute;
  top: 2.7rem;
  left: 30rem;
}

.reach {
  position: absolute;
  top: -0.1rem;
  left: 34.2rem;
}

.fa-linkedin {
  position: absolute;
  top: 2.7rem;
  left: 33rem;
}

.fa-github {
  position: absolute;
  top: 2.7rem;
  left: 37rem;
}

.fa-envelope {
  position: absolute;
  top: 2.7rem;
  left: 41rem;
}

.contact:hover {
  color: #0cacf2;
}
